[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django="*"
pytest-cov="*"

[packages]
django-environ = "0.4.5"
djangorestframework = "3.12.1"
django-filter = "2.4.0"
django-flags = "5.0.1"
django = "3.1.13"
markdown = "3.3.2"
asgiref = "3.3.0"
twilio = "*"
vosk = "0.3.15"
PyAudio = "0.2.11"
requests = "2.24.0"
dlib = "*"
environ = "*"
keras = "*"
face-recognition = "*"
cvlib = "*"
matplotlib = "*"
tensorflow = "*"
Pillow="*"
opencv-python = "*"
pyserial="*"
pipenv="*"
serial = "*"

[requires]
python_version = "3.8"
