[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django="*"
pytest-cov="*"

[packages]
asgiref = "3.3.0"
django = "3.1.2"
PyAudio = "0.2.11"
requests = "2.24.0"
vosk = "0.3.15"
django-environ = "0.4.5"
djangorestframework = "3.12.1"
markdown = "3.3.2"
django-filter = "2.4.0"
django-flags = "5.0.1"
pytest-django = "*"


[requires]
python_version = "3.8"
